.demo-block.demo-dialog {
  .dialog-footer button:first-child {
    margin-right: 10px;
  }

  .full-image {
    width: 100%;
  }

  .top-dialog__wrapper {
    margin: 0;
  }

  .top-select {
    width: 300px;
  }

  .top-input {
    width: 300px;
  }

  .top-button--text {
    margin-right: 15px;
  }

}
